@tailwind base;
@tailwind components;
@tailwind utilities;

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
  max-width: 100px;
  font-size: small;
}

.image-label{
  width: 30px;
  height: 40px;
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
}
.product-list{
  min-height: 3px;
  max-height: 3px;
}
